<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.md.ifmo.lesson6" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.md.ifmo.lesson6.FeedActivity"
            android:label="@string/title_activity_my" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.md.ifmo.lesson6.WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity android:name="ru.md.ifmo.lesson6.MyActivity">
        </activity>
        <service android:name="ru.md.ifmo.lesson6.Updater"
            android:exported="false">

        </service>
        <provider
            android:authorities="ru.ifmo.md.lesson6"
            android:name="ru.md.ifmo.lesson6.MyContentProvider"
            android:exported="false"/>


    </application>

</manifest>
